@import "tailwindcss";

@theme {
  /* Base colors for UI components */
  --color-background: hsl(221.54 28.89% 8.82%);
  --color-foreground: hsl(0 0% 98%);
  --color-card: hsl(240 10% 3.9%);
  --color-card-foreground: hsl(0 0% 98%);
  --color-popover: hsl(240 10% 3.9%);
  --color-popover-foreground: hsl(0 0% 98%);
  --color-primary: hsl(0 0% 98%);
  --color-primary-foreground: hsl(240 5.9% 10%);
  --color-secondary: hsl(240 3.7% 15.9%);
  --color-secondary-foreground: hsl(0 0% 98%);
  --color-muted: hsl(240 3.7% 15.9%);
  --color-muted-foreground: hsl(240 5% 64.9%);
  --color-accent: hsl(198, 72%, 52%);
  --color-accent-foreground: hsl(0 0% 98%);
  --color-destructive: hsl(0 62.8% 30.6%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-border: hsl(240 3.7% 15.9%);
  --color-input: hsl(240 3.7% 15.9%);
  --color-ring: hsl(240 4.9% 83.9%);

  /* Custom NMCyber Figma Design Color Palette */
  --color-additional-blury-blue: hsla(214, 100%, 9%, 0.51);

  /* Blur Element Gradient Colors */
  --blur-gradient-start: #086082;
  --blur-gradient-end: var(--color-accent);

  /* Button Gradient Colors */
  --button-gradient-start: #045b7d;
  --button-gradient-end: #64cdf6;
  --button-gradient-start-hover: #034b73; /* 10% darker than start */
  --button-gradient-end-hover: #4fbeeb; /* 10% darker than end */

  /* Text Gradient Colors */
  --heading-gradient: linear-gradient(121deg, #fff 31.34%, rgba(255, 255, 255, 0) 99.04%);
  --color-secondary-pink-60: hsla(332, 92%, 29%, 1);
  --color-secondary-pink-50: hsla(331, 85%, 46%, 1);
  --color-secondary-pink-40: hsla(347, 94%, 73%, 1);
  --color-secondary-pink-30: hsla(338, 90%, 88%, 1);
  --color-secondary-pink-20: hsla(339, 88%, 94%, 1);
  --color-secondary-pink-10: hsla(339, 88%, 97%, 1);

  /* Custom radius */
  --radius-5xl: 56px;

  /* Custom Font */
  --text-2lg: 20px;
  --text-7xl: 96px;
}

@layer base {
  * {
    border-color: theme(colors.border);
  }
  body {
    background-color: theme(colors.background);
    color: theme(colors.foreground);
  }

  h1 {
    @apply text-white text-[96px] font-semibold leading-[-1.92px] text-center;
  }

  h2 {
      @apply text-4xl text-white md:text-6xl leading-tight font-bold;
    }

  p {
      @apply font-[poppins] text-[20px];
  }

  section {
    @apply relative z-20 flex w-full flex-col items-center justify-center px-4 py-12 sm:px-6 sm:py-20;
  }

  /* Gradient Heading Styles */
  .gradient-heading {
    font-family: var(--font-plus-jakarta-sans, "Plus Jakarta Sans"), sans-serif;
    font-style: normal;
    line-height: 106px; /* 110.417% */
    background: var(--heading-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Responsive styles for the gradient heading */
  @media (max-width: 768px) {
    .gradient-heading {
      font-size: 48px;
      line-height: 58px;
      letter-spacing: -1px;
    }
  }
}

@layer utilities {
  .gradient-text {
    background: var(--heading-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
