@import "tailwindcss";

@theme {
  /* Base colors for UI components */
  --color-background: hsl(221.54 28.89% 8.82%);
  --color-foreground: hsl(0 0% 98%);
  --color-card: hsl(240 10% 3.9%);
  --color-card-foreground: hsl(0 0% 98%);
  --color-popover: hsl(240 10% 3.9%);
  --color-popover-foreground: hsl(0 0% 98%);
  --color-primary: hsl(0 0% 98%);
  --color-primary-foreground: hsl(240 5.9% 10%);
  --color-secondary: hsl(240 3.7% 15.9%);
  --color-secondary-foreground: hsl(0 0% 98%);
  --color-muted: hsl(240 3.7% 15.9%);
  --color-muted-foreground: hsl(240 5% 64.9%);
  --color-accent: hsl(198, 72%, 52%);
  --color-accent-foreground: hsl(0 0% 98%);
  --color-destructive: hsl(0 62.8% 30.6%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-border: hsl(240 3.7% 15.9%);
  --color-input: hsl(240 3.7% 15.9%);
  --color-ring: hsl(240 4.9% 83.9%);

  /* Custom NMCyber Figma Design Color Palette */
  --color-additional-blury-blue: hsla(214, 100%, 9%, 0.51);

  /* Blur Element Gradient Colors */
  --blur-gradient-start: #086082;
  --blur-gradient-end: var(--color-accent);

  /* Button Gradient Colors */
  --button-gradient-start: #045b7d;
  --button-gradient-end: #64cdf6;
  --button-gradient-start-hover: #034b73; /* 10% darker than start */
  --button-gradient-end-hover: #4fbeeb; /* 10% darker than end */

  /* Text Gradient Colors */
  --heading-gradient1: linear-gradient(121deg, #fff 31.34%, rgba(255, 255, 255, 0) 99.04%);
  --heading-gradient2: linear-gradient(140.49deg, #FFFFFF 22.6%, rgba(255, 255, 255, 0) 85.3%);
  --heading-gradient3: linear-gradient(147.42deg, #FFFFFF 19.49%, rgba(255, 255, 255, 0) 113.95%); /* product title gradient */
  --color-secondary-pink-60: hsla(332, 92%, 29%, 1);
  --color-secondary-pink-50: hsla(331, 85%, 46%, 1);
  --color-secondary-pink-40: hsla(347, 94%, 73%, 1);
  --color-secondary-pink-30: hsla(338, 90%, 88%, 1);
  --color-secondary-pink-20: hsla(339, 88%, 94%, 1);
  --color-secondary-pink-10: hsla(339, 88%, 97%, 1);

  /* Custom radius */
  --radius-5xl: 56px;

  /* Custom Font */
  --text-2lg: 20px;
  --text-7xl: 96px;
}

@layer base {
  * {
    border-color: theme(colors.border);
  }
  body {
    background-color: theme(colors.background);
    color: theme(colors.foreground);
  }

  p {
      @apply font-[poppins] text-[20px];
  }

  section {
    @apply relative z-20 flex w-full flex-col items-center justify-center px-4 py-12 sm:px-6 sm:py-20;
  }


}


  /* Gradient Heading Styles */
  @layer components {
  .nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 600;         /* SemiBold */
    font-size: 20px;
    line-height: 24px;        
    letter-spacing: 0;
    text-align: center;
    vertical-align: bottom;   
  }
  /* Gradient Heading1 Styles (H1) */
  .gradient-heading1 {
    font-family: var(--font-plus-jakarta-sans, "Plus Jakarta Sans"), sans-serif;
    line-height: 106px; /* 110.417% */
    background: var(--heading-gradient1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: -1px;
  }

  /* Responsive styles for the gradient heading(H1) */
  @media (max-width: 768px) {
    .gradient-heading1 {
      font-size: 48px;
      line-height: 58px;
      letter-spacing: -1px;
    }
    
  }
/* Gradient Heading2 Styles (H2) */
.gradient-heading2 {
  font-family: var(--font-plus-jakarta-sans, "Plus Jakarta Sans"), sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 130%;
  letter-spacing: 0;
  background: var(--heading-gradient2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Responsive styles for the gradient heading(H2) */
@media (max-width: 768px) {
  .gradient-heading2 {
    font-size: 36px;
    line-height: 110%;
    }
  }
  /* Gradient Heading3 Styles (H2) */
.gradient-heading3 {
  font-family: var(--font-plus-jakarta-sans, "Plus Jakarta Sans"), sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 130%;
  letter-spacing: 0;
  background: var(--heading-gradient3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
/* Responsive styles for the gradient heading(H3) */
@media (max-width: 768px) {
  .gradient-heading3 {
    font-size: 32px;
    line-height: 130%;
    }
  }
}

@layer utilities {
  .gradient-text {
    font-family: var(--font-plus-jakarta-sans, "Plus Jakarta Sans"), sans-serif;
    background: var(--heading-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
